<div class="container-fluid bg-black p-3 flex flex-row fixed-top h-">
  <a href="/" class="text-center text-decoration-none text-yellow-200 fs-5 mx-3 fw-bolder">HOME</a>
  <a href="/addCar" class="text-center text-decoration-none text-yellow-200 fs-5 mx-3 fw-bolder">ADD</a>
  <a href="/carsList" class="text-center text-decoration-none text-yellow-300 fs-5 mx-3 fw-bolder">LIST</a>
  <a href="carsEdit" class="text-center text-decoration-none text-yellow-200 fs-5 mx-3 fw-bolder">EDIT</a>
</div>
<div class="container-fluid bg-dark text-white d-flex flex-column align-items-flex-start justify-content-flex-start px-5" style="min-height: 100vh; padding-top: 80px;">
    <h1 class="w-100 fw-normal text-white fs-3">CARS LIST</h1>
    <table class="table text-white">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col" class="text-center">Insured</th>
          <th scope="col" class="text-center">Petrol Car</th>
          <th scope="col" class="text-center">Damaged</th>
          <th scope="col" class="text-center">Four-by-four</th>
          <th scope="col" class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        {{#each carList}}
        <tr id="tr-{{@index}}">
           <th scope="row">{{_id}}</th>
           <td class="text-center">{{{boolTranslate isInsured}}}</td>
           <td class="text-center">{{{boolTranslate isPetrolCar}}}</td>
           <td class="text-center">{{{boolTranslate isDamaged}}}</td>
           <td class="text-center">{{{boolTranslate isFourByFour}}}</td>
           <td class="text-center">
              <button class="btn btn-warning text-dark fw-bold" onclick="deleteCar('{{_id}}', 'tr-{{@index}}')">DELETE</button>
           </td>
        </tr>
        {{/each}}
      </tbody>
      </table>
</div>


<script>
  function deleteCar(ID, trID){
    if(confirm("Are you sure you want to delete this car?") == true){
      const data = JSON.stringify({
        deletedCarID: ID
      });

      const options = {
          method: "POST",
          headers: {
            "Content-type": "application/json",
          },
          body: data,
      };

      fetch("/handleDelete", options)
        .then((response) => response.json())
        .then((data) => {
          console.log(data.message);
          document.getElementById(trID).remove();
        })
        .catch((e) => console.log(e));
    }
  }
</script>